HOOMA_BASE_URL=https://www.hooma.ge
HOOMA_AGENT_TOKEN=hooma_ca_replace_me
HOOMA_AGENT_WORKER_NAME=Hooma Windows 01
HOOMA_BROWSER_CHANNEL=chrome
HOOMA_BROWSER_PROFILE=.hooma-browser-profile
HOOMA_HEADLESS=false
HOOMA_POLL_SECONDS=15
